<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/css/main.ejs') %>
    <%- include ('../partials/css/head.ejs') %>
  </head>
  <body>
    <%- include ('../partials/css/nav.ejs') %>
    <a href="/plants/new">Add a new plant entry</a>

      <ul class="d-flex justify-content-center flex-wrap">
        <% for (let i = 0; i < plants.length; i++) { %>
        <li class="">
          <a href="/plants/<%=plants[i].id;%>" class="index-li-item">
            <h5><%=plants[i].name%></h5>
            <div class="plant-pic">
              <img class= "w-100" src="<%=plants[i].img%>" alt="">
            </div>
          </a>
          <div class="location">
            <p>Found in: <%=plants[i].location%></p>
          </div>
            <a href="/plants/<%=plants[i].id%>/edit"><button type="button" class="btn btn-success bounceOut" id="edit-btn">Edit Entry</button></a>
        </li>
          <% } %>
      </ul>

  </body>
</html>
