<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/css/head.ejs')%>
        <%- include ('../partials/css/main.ejs') %>
      <title><%=plant.name%></title>
  </head>
  <body>
    <nav>
        <%- include ('../partials/css/nav.ejs') %>
      </nav>
      <div class="show-plant d-flex flex-column">
        <h3>Name: <%=plant.name%></h3><br/>
        <img class="w-50 h-25" src="<%=plant.img%>" alt=""><br/>
        <div>
          <h5>Description: <%=plant.description%></h5><br/>
          <h4>Location spotted: <%=plant.location%></h4><br/>
          Time of Entry: <%=plant.createdAt%>
        </div>
      </div>
      <div class="d-flex justify-content-around m-4">
        <a href="/plants/<%=plant.id%>/edit"><button type="button" class="btn btn-success" id="edit-btn">Edit Entry</button></a>
        <form id="delete" action="/plants/<%=plant.id;%>?_method=DELETE" method="POST">
          <input class="btn btn-outline-danger btn-lg" type="submit" value="DELETE"/>
        </form>
      </div>
  </body>
</html>
